{% extends 'base.html.twig' %}

{% block title %}{{ item.title }}{% endblock %}
{% block body %}
    <h1>{{ item.title }}</h1>
    <h3>{{ item.dateAt|format_datetime('medium', 'short', locale='ru') }}</h3>
    {% if item.image %}
        <div><img src="{{ item.image }}"/></div>
    {% endif %}
    {{ item.text|nl2br }}
    <p>Оригинал: <a href="{{ item.url }}" target="_blank">{{ item.url }}</a></p>
    <p><a href="/">Назад</a></p>
{% endblock %}